.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;

    width: 100%;
    overflow: hidden;
    // max-width: 100%;
    // min-width: 100%;


    background-color: #fff;
}