.advantages
    .container.advantages__container
        h2.h3 Преимущества наших окон

        ul.advantages__box
            li.advantages__item
                h3.advantages__title.h4
                    svg.advantages__title-icon
                        use(xlink:href='img/sprite.svg#headphones')
                    span.advantages__title-text Тихие
                .advantages__descr
                    p Хорошие пластиковые окна защищают Ваш дом от холода, а наши пластиковые окна помимо этого защитят Вас и от уличного шума.
                    p Наши запатентованные Антирезонансные стеклопакеты ТИХОПАКЕТ™ вытеснят шумный мегаполис за пределы Вашего дома.
            li.advantages__item
                h3.advantages__title.h4
                    svg.advantages__title-icon
                        use(xlink:href='img/sprite.svg#temperature')
                    span.advantages__title-text Летом прохладнее
                .advantages__descr
                    p Специальное покрытие стекла отражает почти 60% солнечной энергии, что в 3 раза эффективнее обычного стекла и сравнимо с защитой от жары при полностью закрытых жалюзи.
                    p Обладая исключительными солнцезащитными свойствами наши окна остаются прозрачными и не нарушают естественного освещения помещения.

            li.advantages__item
                h3.advantages__title.h4
                    svg.advantages__title-icon
                        use(xlink:href='img/sprite.svg#temperature')
                    span.advantages__title-text Зимой теплее
                .advantages__descr
                    p В холодное время года окна с Теплопакетом™ препятствуют потере тепла. Уникальное покрытие стекла отражает тепловую энергию от нагревательных приборов внутрь помещения, поэтому комната остывает гораздо медленнее.
                    p Благодаря этому наши окна обеспечивают экономию средств на отоплении до 45%.
            li.advantages__item
                h3.advantages__title.h4
                    svg.advantages__title-icon
                        use(xlink:href='img/sprite.svg#safety')
                    span.advantages__title-text Безопаснее
                .advantages__descr
                    p В вашем доме живет ребенок?
                    p Мы позаботимся о его безопасности. Экологически чистый профиль не вызывает аллергических реакций. А специальные детские замки на окнах позволят Вам наблюдать, как Ваш ребенок играет на подоконнике и не беспокоиться за его безопасность.