.buy
    .container.buy__container
        .buy__box
            .buy__top.buy-top
                .buy-top__info
                    h1.buy-top__title.h3 Остекление балконов и лоджий
                    .buy-top__descr
                        p Компания «Московские окна» осуществляет комплекс работ по остеклению балконов современным надежным профилем ПВХ или алюминиевым профилем. Обращаясь к нам, вы избавляете себя от всех возможных хлопот, получая полностью готовый результат.
                        p Попробуйте сравнить, где и сколько стоит остекление балконов и лоджий, цена в Москве в равных компаниях может существенно различаться. И чтобы избежать всевозможных наценок, сотрудничать стоит напрямую с производителем. 

                .js-bubbles-list.swiper
                    ul.buy-top__bubbles.bubbles.swiper-wrapper
                        li.bubbles__item.swiper-slide
                            a(href="#").bubbles__link Изготовление изделий на собственном автоматизированном производстве
                        li.bubbles__item.swiper-slide
                            a(href="#").bubbles__link Выгодные цены от производителя
                        li.bubbles__item.swiper-slide
                            a(href="#").bubbles__link Качественная европейская фурнитура
                        li.bubbles__item.swiper-slide
                            a(href="#").bubbles__link «Зимнее» и «Летнее» остекление по современным технологиям
                        li.bubbles__item.swiper-slide
                            a(href="#").bubbles__link Москитные сетки
                        li.bubbles__item.swiper-slide
                            a(href="#").bubbles__link Противовзломные механизмы
                        li.bubbles__item.swiper-slide
                            a(href="#").bubbles__link Декоративная отделка
                        li.bubbles__item.swiper-slide
                            a(href="#").bubbles__link Механизмы защиты для детей и животных
                        li.bubbles__item.swiper-slide
                            a(href="#").bubbles__link Отделка с утеплением балконов и лоджий
                        li.bubbles__item.swiper-slide
                            a(href="#").bubbles__link Профессиональная установка с гарантией 5 лет
                    .slider-btn.bubbles-list__prev.swiper__prev
                        svg
                            use(xlink:href='img/sprite.svg#slider-right')
                    .slider-btn.bubbles-list__next.swiper__next.active
                        svg
                            use(xlink:href='img/sprite.svg#slider-right')

            .buy__bottom.buy-bottom
                .buy-bottom__col-1.buy-col
                    .buy-bottom__title.h4 Купите готовые окна прямо со склада
                    img(src="img/content/buy/01.png" srcset="img/content/buy/01@2x.png 2x" alt="" loading="lazy").buy-bottom__img
                    .buy-bottom__btn-box
                        a(href="#").buy-bottom__btn.btn Купить окна
                .buy-bottom__col-2.buy-col
                    .buy-bottom__title.h4 Купите готовые окна прямо со склада
                    img(src="img/content/buy/02.png" srcset="img/content/buy/02@2x.png 2x" alt="" loading="lazy").buy-bottom__img
                    .buy-bottom__btn-box
                        a(href="#").buy-bottom__btn.btn Купить окна
                .buy-bottom__col-3.buy-col
                    h3.buy-bottom__title.h4 Как выбрать пластиковые окна?
                    .buy-bottom__descr
                        p Затрудняетесь с выбором? Хотите получить самое выгодное предложение? Звоните или оставьте свой телефон, мы свяжемся с вами. Пригласите менеджера для консультации на дому и точного замера. Наши специалисты сделают профессиональный расчет выбранного вами окна.
                    .buy-bottom__btn-box
                        a(href="#").buy-bottom__btn.btn.btn__light
                            svg.main-menu__item-icon
                                use(xlink:href='img/sprite.svg#telephone')
                            span Бесплатный звонок

                        a(href="#").buy-bottom__btn.btn.btn__light
                            svg.main-menu__item-icon
                                use(xlink:href='img/sprite.svg#whatsapp')
                            span Написать в WhatsApp