.buy
    .container.buy__container
        .buy__box
            .buy__top.buy-top
                .buy-top__info
                    h1.buy-top__title.h3 Заказать пластиковые окна
                    .buy-top__descr
                        p Все наши пластиковые окна это всегда "ноу-хау" на рынке. Мы предлагаем свои заказчикам купить уникальную продукцию, которая и по общим характеристикам, и по эксплуатационным свойствам всегда лучше, чем окна ПВХ других производителей. Компания "Московские окна" занимается производством пластиковых окон с 1992 года: мы стояли у истоков в те времена и сейчас продолжаем задавать в Москве и в различных городах России тенденции, выпуская недорогие пластиковые окна нового поколения.

                .js-bubbles-list.swiper
                    ul.buy-top__bubbles.bubbles.swiper-wrapper
                        li.bubbles__item.swiper-slide
                            a(href="#").bubbles__link Окна Рехау
                        li.bubbles__item.swiper-slide
                            a(href="#").bubbles__link Окна ПВХ
                        li.bubbles__item.swiper-slide
                            a(href="#").bubbles__link Стеклопакеты
                        li.bubbles__item.swiper-slide
                            a(href="#").bubbles__link Двери
                        li.bubbles__item.swiper-slide
                            a(href="#").bubbles__link Лоджии
                        li.bubbles__item.swiper-slide
                            a(href="#").bubbles__link Аксессуары
                        li.bubbles__item.swiper-slide
                            a(href="#").bubbles__link Рулонные шторы
                        li.bubbles__item.swiper-slide
                            a(href="#").bubbles__link Жалюзи на пластиковые окна
                        li.bubbles__item.swiper-slide
                            a(href="#").bubbles__link Металлопластиковые окна
                        li.bubbles__item.swiper-slide
                            a(href="#").bubbles__link Дорогие пластиковые окна
                        li.bubbles__item.swiper-slide
                            a(href="#").bubbles__link Готовые пластиковые окна
                    .slider-btn.bubbles-list__prev.swiper__prev
                        svg
                            use(xlink:href='img/sprite.svg#slider-right')
                    .slider-btn.bubbles-list__next.swiper__next.active
                        svg
                            use(xlink:href='img/sprite.svg#slider-right')

            .buy__bottom.buy-bottom
                .buy-bottom__col-1.buy-col
                    .buy-bottom__title.h4 Купите готовые окна прямо со склада
                    img(src="img/content/buy/01.png" srcset="img/content/buy/01@2x.png 2x" alt="" loading="lazy").buy-bottom__img
                    .buy-bottom__btn-box
                        a(href="#").buy-bottom__btn.btn Купить окна
                .buy-bottom__col-2.buy-col
                    .buy-bottom__title.h4 Купите готовые окна прямо со склада
                    img(src="img/content/buy/02.png" srcset="img/content/buy/02@2x.png 2x" alt="" loading="lazy").buy-bottom__img
                    .buy-bottom__btn-box
                        a(href="#").buy-bottom__btn.btn Купить окна
                .buy-bottom__col-3.buy-col
                    h3.buy-bottom__title.h4 Как выбрать пластиковые окна?
                    .buy-bottom__descr
                        p Затрудняетесь с выбором? Хотите получить самое выгодное предложение? Звоните или оставьте свой телефон, мы свяжемся с вами. Пригласите менеджера для консультации на дому и точного замера. Наши специалисты сделают профессиональный расчет выбранного вами окна.
                    .buy-bottom__btn-box
                        a(href="#").buy-bottom__btn.btn.btn__light
                            svg.main-menu__item-icon
                                use(xlink:href='img/sprite.svg#telephone')
                            span Бесплатный звонок

                        a(href="#").buy-bottom__btn.btn.btn__light
                            svg.main-menu__item-icon
                                use(xlink:href='img/sprite.svg#whatsapp')
                            span Написать в WhatsApp