.cost
	.container.cost__container
		h2.h3.cost__title Стоимость остекления загородных домов
		
		.cost__wrapper.cost-wrapper
			
			.cost__filter.options-filter
				
				.options-filter__col1
					.options-type
						.options-type__current
							.subtitle.caption Оконная система
							.title.h5 REHAU Grazio™
							.icon
						.options-type__variants
							.variants-item REHAU Grazio™
							.variants-item 222 REHAU Grazio™
							.variants-item 333 REHAU Grazio™
							.variants-item 444 REHAU Grazio™
							.variants-item 555 REHAU Grazio™
				
				.options-filter__col2
					.options-type
						.options-type__current
							.subtitle.caption Ламинация
							.title.h5 Дизайнерская палитра
							.icon
						.options-type__variants
							.variants-item Без ламинации
							.variants-item 222 Без ламинации
							.variants-item 333 Без ламинации
							.variants-item 444 Без ламинации
							.variants-item 555 Без ламинации
			
			.cost__box

				.cost__item.cost-item
					img(src="img/content/cost/01.jpg", srcset="img/content/cost/01@2x.jpg 2x", alt="", loading="lazy").cost-item__img
					.cost-item__inner
						.cost-item__info.prod-info
							.prod-info__title.h5 Одностворчатое окно
							.prod-info__descr.caption Раздвижное алюминиевое остекление
							.prod-info__price.h5 от 8 247 руб/м²
						.cost-item__descr
							p.caption Цена «под ключ» 17 345 руб.
						button.cost-item__btn.btn Заказать

				.cost__item.cost-item
					img(src="img/content/cost/01.jpg", srcset="img/content/cost/01@2x.jpg 2x", alt="", loading="lazy").cost-item__img
					.cost-item__inner
						.cost-item__info.prod-info
							.prod-info__title.h5 Одностворчатое окно
							.prod-info__descr.caption Раздвижное алюминиевое остекление
							.prod-info__price.h5 от 8 247 руб/м²
						.cost-item__descr
							p.caption Цена «под ключ» 17 345 руб.
						button.cost-item__btn.btn Заказать

				.cost__item.cost-item
					img(src="img/content/cost/01.jpg", srcset="img/content/cost/01@2x.jpg 2x", alt="", loading="lazy").cost-item__img
					.cost-item__inner
						.cost-item__info.prod-info
							.prod-info__title.h5 Одностворчатое окно
							.prod-info__descr.caption Раздвижное алюминиевое остекление
							.prod-info__price.h5 от 8 247 руб/м²
						.cost-item__descr
							p.caption Цена «под ключ» 17 345 руб.
						button.cost-item__btn.btn Заказать

				.cost__item.cost-item
					img(src="img/content/cost/01.jpg", srcset="img/content/cost/01@2x.jpg 2x", alt="", loading="lazy").cost-item__img
					.cost-item__inner
						.cost-item__info.prod-info
							.prod-info__title.h5 Одностворчатое окно
							.prod-info__descr.caption Раздвижное алюминиевое остекление
							.prod-info__price.h5 от 8 247 руб/м²
						.cost-item__descr
							p.caption Цена «под ключ» 17 345 руб.
						button.cost-item__btn.btn Заказать

		.cost__text
			p.p 
				b Цена под ключ включает: <br>
				| Стоимость изделия в&nbsp;выбранной оконной системе, подоконники&nbsp;&mdash; 250&nbsp;мм, отлив&nbsp;&mdash; 150&nbsp;мм, подставочный профиль, базовый монтаж с&nbsp;изоляцией наружнего шва, откосы до&nbsp;250&nbsp;мм, подготовка проема к&nbsp;монтажу откосов, монтаж откосов.