.cover
    .container.cover__container
        h2.h3.options__title Цены на остекление балконов и лоджий

    .container.cover__container

        //- .cover__wrapper

        .cover__options
            .options-type
                .options-type__current
                    .subtitle.caption Тип подоконника
                    .title.h5 Дизайнерская палитра
                    .icon

                .options-type__variants
                    .variants-item Дизайнерская палитра
                    .variants-item 222 Дизайнерская палитра
                    .variants-item 333 Дизайнерская палитра

        .cover__list

            .cover__box.cover__box--reverse.toggle(style="background-image: url('img/content/cover/01.jpg');")
                .cover__info.cover-info
                    .cover-info_box
                        .cover-info__title.h3 REHAU Blitz™
                        .cover-info__price.h5 от 5 637 руб/м²
                        .cover-info__text
                            p Отличная теплоизоляция и классический внешний вид. Строгие прямоугольные формы профиля имеют совсем небольшую высоту, что позволяет проникать в помещение большому количеству света.
                        ul.cover-info__prop.info-prop
                            li.info-prop__item.info-prop__item--temp.caption Экономия тепла
                            li.info-prop__item.info-prop__item--space.caption Увеличение пространства
                            li.info-prop__item.info-prop__item--sound.caption Звукоизоляция от улицы
                        a.cover-info__btn.btn Заказать
                .cover__img
                    picture
                        source(srcset="img/content/cover/01.jpg, img/content/cover/01@2x.jpg 2x")
                        img(src="img/content/cover/01.jpg", alt="")

            .cover__box.cover__box--reverse(style="background-image: url('img/content/cover/02.jpg');")
                .cover__info.cover-info
                    .cover-info_box
                        .cover-info__title.h3 REHAU Blitz™ 2
                        .cover-info__price.h5 от 5 637 руб/м²
                        .cover-info__text
                            p Отличная теплоизоляция и классический внешний вид. Строгие прямоугольные формы профиля имеют совсем небольшую высоту, что позволяет проникать в помещение большому количеству света.
                        ul.cover-info__prop.info-prop
                            li.info-prop__item.info-prop__item--temp.caption Экономия тепла
                            li.info-prop__item.info-prop__item--space.caption Увеличение пространства
                            li.info-prop__item.info-prop__item--sound.caption Звукоизоляция от улицы
                        a.cover-info__btn.btn Заказать
                .cover__img
                    picture
                        source(srcset="img/content/cover/02.jpg, img/content/cover/02@2x.jpg 2x")
                        img(src="img/content/cover/02.jpg", alt="")

            .cover__box.cover__box--reverse(style="background-image: url('img/content/cover/03.jpg');")
                .cover__info.cover-info
                    .cover-info_box
                        .cover-info__title.h3 REHAU Blitz™ 3
                        .cover-info__price.h5 от 5 637 руб/м²
                        .cover-info__text
                            p Отличная теплоизоляция и классический внешний вид. Строгие прямоугольные формы профиля имеют совсем небольшую высоту, что позволяет проникать в помещение большому количеству света.
                        ul.cover-info__prop.info-prop
                            li.info-prop__item.info-prop__item--temp.caption Экономия тепла
                            li.info-prop__item.info-prop__item--space.caption Увеличение пространства
                            li.info-prop__item.info-prop__item--sound.caption Звукоизоляция от улицы
                        a.cover-info__btn.btn Заказать
                .cover__img
                    picture
                        source(srcset="img/content/cover/03.jpg, img/content/cover/03@2x.jpg 2x")
                        img(src="img/content/cover/03.jpg", alt="")