.cover
    .container.cover__container
        .cover__box(style="background-image: url('img/content/cover/01.jpg');")
            .cover__info.cover-info
                .cover-info_box

                    .cover-info__title.h3 REHAU Blitz™
                    .cover-info__price.h5 от 5 637 руб/м²

                    .cover-info__text
                        p Отличная теплоизоляция и классический внешний вид. Строгие прямоугольные формы профиля имеют совсем небольшую высоту, что позволяет проникать в помещение большому количеству света.

                    ul.cover-info__prop.info-prop
                        li.info-prop__item.info-prop__item--temp.caption Экономия тепла
                        li.info-prop__item.info-prop__item--space.caption Увеличение пространства
                        li.info-prop__item.info-prop__item--sound.caption Звукоизоляция от улицы

                    a.cover-info__btn.btn Заказать



            .cover__img
                picture
                    source(srcset="img/content/cover/01.jpg, img/content/cover/01@2x.jpg 2x")
                    img(src="img/content/cover/01.jpg", alt="")