.examples-works
    .container.examples-works__container
        h2.h3 Примеры работ с профилем REHAU Blitz™

        .examples-works__list.swiper.js-examples-works-list
            .examples-works__wrapper.swiper-wrapper

                .examples-works__item.examples-works-item.swiper-slide
                    .examples-works-item__img
                        img(src="img/content/examples-works/01.jpg" srcset="img/content/examples-works/01@2x.jpg 2x" alt="" loading="lazy")
                    .examples-works-item__info.mc
                        .examples-works-item__title.h4 Остекление балкона 2м с отделкой
                        .examples-works-item__descr
                            p Ламинация окон давно перестала быть роскошью. Цветные фасады домов, увеличение количества загородного строительства, да и просто желание украсить свой дом приводит к тому, что спрос на красивые ламинированные окна неуклонно растет с каждым годом.
                        .examples-works-item__type.h6 Стоимость остекления
                            span.caption «Под ключ»
                        .examples-works-item__price.h5 от 4 581 руб/м²


                .examples-works__item.examples-works-item.swiper-slide
                    .examples-works-item__img
                        img(src="img/content/examples-works/01.jpg" srcset="img/content/examples-works/01@2x.jpg 2x" alt="" loading="lazy")
                    .examples-works-item__info.mc
                        .examples-works-item__title.h4 Остекление балкона 2м с отделкой
                        .examples-works-item__descr.p
                            p Ламинация окон давно перестала быть роскошью. Цветные фасады домов, увеличение количества загородного строительства, да и просто желание украсить свой дом приводит к тому, что спрос на красивые ламинированные окна неуклонно растет с каждым годом.
                        .examples-works-item__type.h6 Стоимость остекления
                            span.caption «Под ключ»
                        .examples-works-item__price.h5 от 4 581 руб/м²
                //- .examples-works__item.examples-works-item.swiper-slide
                    img(src="img/content/examples-works/03.jpg" srcset="img/content/examples-works/03@2x.jpg 2x" alt="" loading="lazy").examples-works-item__img
                    .examples-works-item__info
                        .examples-works-item__title.h4 Стильный дизайн
                        .examples-works-item__descr Качественные материалы и комплектующие при изготовлении наших окон дают уверенность в том, что изделия прослужат долгие годы и не потеряют свои качества

            .slider-btn.examples-works-list__prev.swiper__prev
                svg
                    use(xlink:href='img/sprite.svg#slider-right')
            .slider-btn.examples-works-list__next.swiper__next.active
                svg
                    use(xlink:href='img/sprite.svg#slider-right')