.features
    .container.features__container
        h2.h3 Особенности системы REHAU Blitz™

        .features__list.swiper.js-features-list
            .features__wrapper.swiper-wrapper

                .features__item.features-item.swiper-slide
                    img(src="img/content/features/01.jpg" srcset="img/content/features/01@2x.jpg 2x" alt="" loading="lazy").features-item__img
                    .features-item__info
                        .features-item__title.h4 Качественные материалы
                        .features-item__descr Качественные материалы и комплектующие при изготовлении наших окон дают уверенность в том, что изделия прослужат долгие годы и не потеряют свои качества.
                .features__item.features-item.swiper-slide
                    img(src="img/content/features/02.jpg" srcset="img/content/features/02@2x.jpg 2x" alt="" loading="lazy").features-item__img
                    .features-item__info
                        .features-item__title.h4 Надежный профиль
                        .features-item__descr Пятикамерный профиль в комбинации с двухкамерным стеклопакетом позволяет минимизировать теплопотерю, а стальное армирование профиля добавляет надежности всей конструкции.
                .features__item.features-item.swiper-slide
                    img(src="img/content/features/03.jpg" srcset="img/content/features/03@2x.jpg 2x" alt="" loading="lazy").features-item__img
                    .features-item__info
                        .features-item__title.h4 Стильный дизайн
                        .features-item__descr Качественные материалы и комплектующие при изготовлении наших окон дают уверенность в том, что изделия прослужат долгие годы и не потеряют свои качества

            .slider-btn.features-list__prev.swiper__prev
                svg
                    use(xlink:href='img/sprite.svg#slider-right')
            .slider-btn.features-list__next.swiper__next.active
                svg
                    use(xlink:href='img/sprite.svg#slider-right')