.grid-product
    .container.grid-product__container
        .grid-product__box
            
            .grid-product__item.gp-item
                .gp-item__img
                    img(src="img/content/grid-product/01.jpg", alt="", loading="lazy", srcset="img/content/grid-product/01@2x.jpg 2x")
                .gp-item__box
                    .gp-item__header.prod-info
                        .prod-info__title.h5 REHAU Grazio-Design™
                        .prod-info__descr.caption Раздвижное алюминиевое остекление
                        .prod-info__price.h5 от 8 247 руб/м²
                    .gp-item__table.zebra
                        .zebra__tr
                            .zebra__td.p Камерность
                            .zebra__td.p 5 камер
                        .zebra__tr
                            .zebra__td.p Коэффиц. теплозащиты
                            .zebra__td.p 0,83м²·°С/Вт
                        .zebra__tr
                            .zebra__td.p Толщина
                            .zebra__td.p 40 мм
                        .zebra__tr
                            .zebra__td.p Уплотнение 
                            .zebra__td.p Чёрное каучуковое

                    button.gp-item__btn.btn Заказать

            .grid-product__item.gp-item
                .gp-item__img
                    img(src="img/content/grid-product/02.jpg", alt="", loading="lazy",  srcset="img/content/grid-product/02@2x.jpg 2x")
                .gp-item__box
                    .gp-item__header.prod-info
                        .prod-info__title.h5 REHAU Grazio-Design™
                        .prod-info__descr.caption Раздвижное алюминиевое остекление
                        .prod-info__price.h5 от 8 247 руб/м²
                    .gp-item__table.zebra
                        .zebra__tr
                            .zebra__td.p Камерность
                            .zebra__td.p 5 камер
                        .zebra__tr
                            .zebra__td.p Коэффиц. теплозащиты
                            .zebra__td.p 0,83м²·°С/Вт
                        .zebra__tr
                            .zebra__td.p Толщина
                            .zebra__td.p 40 мм
                        .zebra__tr
                            .zebra__td.p Уплотнение
                            .zebra__td.p Чёрное каучуковое
                    button.gp-item__btn.btn Заказать

            .grid-product__item.gp-item
                .gp-item__img
                    img(src="img/content/grid-product/01.jpg", alt="", loading="lazy", srcset="img/content/grid-product/01@2x.jpg 2x")
                .gp-item__box
                    .gp-item__header.prod-info
                        .prod-info__title.h5 REHAU Grazio-Design™
                        .prod-info__descr.caption Раздвижное алюминиевое остекление
                        .prod-info__price.h5 от 8 247 руб/м²
                    .gp-item__table.zebra
                        .zebra__tr
                            .zebra__td.p Камерность
                            .zebra__td.p 5 камер
                        .zebra__tr
                            .zebra__td.p Коэффиц. теплозащиты
                            .zebra__td.p 0,83м²·°С/Вт
                        .zebra__tr
                            .zebra__td.p Толщина
                            .zebra__td.p 40 мм
                        .zebra__tr
                            .zebra__td.p Уплотнение
                            .zebra__td.p Чёрное каучуковое
                    button.gp-item__btn.btn Заказать

            .grid-product__item.gp-item
                .gp-item__img
                    img(src="img/content/grid-product/02.jpg", alt="", loading="lazy", srcset="img/content/grid-product/02@2x.jpg 2x")
                .gp-item__box
                    .gp-item__header.prod-info
                        .prod-info__title.h5 REHAU Grazio-Design™
                        .prod-info__descr.caption Раздвижное алюминиевое остекление
                        .prod-info__price.h5 от 8 247 руб/м²
                    .gp-item__table.zebra
                        .zebra__tr
                            .zebra__td.p Камерность
                            .zebra__td.p 5 камер
                        .zebra__tr
                            .zebra__td.p Коэффиц. теплозащиты
                            .zebra__td.p 0,83м²·°С/Вт
                        .zebra__tr
                            .zebra__td.p Толщина
                            .zebra__td.p 40 мм
                        .zebra__tr
                            .zebra__td.p Уплотнение
                            .zebra__td.p Чёрное каучуковое
                    button.gp-item__btn.btn Заказать