.header-top
    .container.header-top__container
        .header-top__location.location(data-da="mobile-menu__region,1,768")
            .location__city
                svg.location__city-icon
                    use(xlink:href='img/sprite.svg#location')
                span.location__city-name Москва
            .location__descr(data-da="mobile-menu__slogan,1,992") Пластиковые окна недорого в Москве — продажа и установка!
        ul.header-top__menu.top-menu(data-da="mobile-menu__top-menu,1,768")
            li.top-menu__item
                a(href="#").top-menu__link О&nbsp;компании
            li.top-menu__item
                a(href="#").top-menu__link Доставка
            li.top-menu__item
                a(href="#").top-menu__link Оплатить онлайн
            li.top-menu__item
                a(href="#").top-menu__link Вакансии
            li.top-menu__item
                a(href="#").top-menu__link Контакты

