.header-bottom
	.container.header-bottom__container
		.header-bottom__box
			//- Сюда на js будет вставляться код
			ul.main-menu__submenu
				li.main-menu__submenu-item
					a(href="#").main-menu__submenu-link Пластиковые окна
					
				li.main-menu__submenu-item
					a(href="#").main-menu__submenu-link Балконы
					
				li.main-menu__submenu-item
					a(href="#").main-menu__submenu-link Декорирование и аксессуары
					
				li.main-menu__submenu-item
					a(href="#").main-menu__submenu-link Двери
					
				li.main-menu__submenu-item
					a(href="#").main-menu__submenu-link Рольшторы


			img(src="img/rehau-partners.svg", alt="").header-bottom__partner(data-da="mobile-menu__partner,1,880")

		include ../includes/search-panel

		.subsections__btn.subsections-btn
			img(src="img/icons/list-ul.svg", alt="").subsections-btn__icon
			.subsections-btn__text Разделы страницы

		.header-bottom__subsections.subsections

			//- Сюда на js будет вставляться код
			ul.subsections__list
				li.subsections__item
					a(href="#").subsections__link Стандарт 60
				li.subsections__item
					a(href="#").subsections__link Стандарт 70
				li.subsections__item
					a(href="#").subsections__link Rehau Blitz™
				li.subsections__item
					a(href="#").subsections__link REHAU Grazio™
				li.subsections__item
					a(href="#").subsections__link REHAU Delight™
				li.subsections__item
					a(href="#").subsections__link REHAU Intelio™
				li.subsections__item
					a(href="#").subsections__link La Prima™
				li.subsections__item
					a(href="#").subsections__link Окна с климат-контролем
				li.subsections__item
					a(href="#").subsections__link Декорирование и аксессуары
				li.subsections__item
					a(href="#").subsections__link Технологии
				li.subsections__item
					a(href="#").subsections__link Распродажа готовых окон
