.options
    .container.options__container
        h2.h3.options__title Дополнительные опции для окон

        .options__box

            .options__tabs.options-tabs

                .options-tabs__btn.options-btn
                    span.options-btn__item.h6 Отделка стен
                    span.options-btn__item.h6 Отделка пола
                    span.options-btn__item.h6 Отделка потолка
                    span.options-btn__item.h6 Мебель
                    span.options-btn__item.h6 Другое

                .options-tabs__descr.options-descr



                    .options-descr__item
                        p.p-big Элегантная и современная коллекция декоров позволит посмотреть свежим взглядом на оформление окна и открыть новые возможности в дизайне Вашей комнаты. Поверхность подоконников устойчива к воздействию кислотосодержащих и химических чистящих средств, не выцветает под воздействием УФ лучей.

                        .row
                            .left

                                .options-type
                                    .options-type__current
                                        .subtitle.caption Тип подоконника
                                        .title.h5 Дизайнерская палитра
                                        .icon

                                    .options-type__variants
                                        .variants-item Дизайнерская палитра
                                        .variants-item 222 Дизайнерская палитра
                                        .variants-item 333 Дизайнерская палитра
                                        .variants-item 444 Дизайнерская палитра
                                        .variants-item 555 Дизайнерская палитра

                                .left-tabs

                                    .left-tabs__item
                                        p.options-text Дизайнерские подоконники Crystallit — это гордость предприятия-производителя. Глянцевые дизайнерские подоконники Кристаллит от глубокого красного, до нежного зеленого, от сияющего солнечного до многоцветного мозаичного – совершенно новый подход к философии оконного пространства.
                                        //-thumbnail
                                        .options-thumb
                                            img(src="img/content/options/thumbs/01.png", alt="").options-thumb__item
                                            img(src="img/content/options/thumbs/02.png", alt="").options-thumb__item
                                            img(src="img/content/options/thumbs/03.png", alt="").options-thumb__item
                                            img(src="img/content/options/thumbs/04.png", alt="").options-thumb__item
                                            img(src="img/content/options/thumbs/05.png", alt="").options-thumb__item
                                            img(src="img/content/options/thumbs/06.png", alt="").options-thumb__item
                                            img(src="img/content/options/thumbs/07.png", alt="").options-thumb__item
                                            img(src="img/content/options/thumbs/08.png", alt="").options-thumb__item
                                            img(src="img/content/options/thumbs/09.png", alt="").options-thumb__item
                                            img(src="img/content/options/thumbs/10.png", alt="").options-thumb__item
                                            img(src="img/content/options/thumbs/11.png", alt="").options-thumb__item
                                            img(src="img/content/options/thumbs/12.png", alt="").options-thumb__item
                                            img(src="img/content/options/thumbs/13.png", alt="").options-thumb__item
                                            img(src="img/content/options/thumbs/14.png", alt="").options-thumb__item
                                            img(src="img/content/options/thumbs/15.png", alt="").options-thumb__item
                                            img(src="img/content/options/thumbs/16.png", alt="").options-thumb__item
                                            img(src="img/content/options/thumbs/17.png", alt="").options-thumb__item
                                            img(src="img/content/options/thumbs/18.png", alt="").options-thumb__item
                                            img(src="img/content/options/thumbs/19.png", alt="").options-thumb__item
                                            img(src="img/content/options/thumbs/20.png", alt="").options-thumb__item
                                            img(src="img/content/options/thumbs/21.png", alt="").options-thumb__item
                                            img(src="img/content/options/thumbs/22.png", alt="").options-thumb__item
                                            img(src="img/content/options/thumbs/23.png", alt="").options-thumb__item
                                            img(src="img/content/options/thumbs/24.png", alt="").options-thumb__item
                                            img(src="img/content/options/thumbs/25.png", alt="").options-thumb__item
                                            img(src="img/content/options/thumbs/26.png", alt="").options-thumb__item
                                            img(src="img/content/options/thumbs/27.png", alt="").options-thumb__item
                                            img(src="img/content/options/thumbs/28.png", alt="").options-thumb__item
                                            img(src="img/content/options/thumbs/29.png", alt="").options-thumb__item
                                            img(src="img/content/options/thumbs/30.png", alt="").options-thumb__item

                                    .left-tabs__item
                                        p.options-text 222 Дизайнерские подоконники Crystallit — это гордость предприятия-производителя. Глянцевые дизайнерские подоконники Кристаллит от глубокого красного, до нежного зеленого, от сияющего солнечного до многоцветного мозаичного – совершенно новый подход к философии оконного пространства.
                                        //-thumbnail
                                        .options-thumb
                                            img(src="img/content/options/thumbs/02.png", alt="").options-thumb__item
                                            img(src="img/content/options/thumbs/01.png", alt="").options-thumb__item
                                            img(src="img/content/options/thumbs/03.png", alt="").options-thumb__item

                                    .left-tabs__item
                                        p.options-text 333 Дизайнерские подоконники Crystallit — это гордость предприятия-производителя. Глянцевые дизайнерские подоконники Кристаллит от глубокого красного, до нежного зеленого, от сияющего солнечного до многоцветного мозаичного – совершенно новый подход к философии оконного пространства.
                                        //-thumbnail
                                        .options-thumb
                                            img(src="img/content/options/thumbs/03.png", alt="").options-thumb__item
                                            img(src="img/content/options/thumbs/02.png", alt="").options-thumb__item
                                            img(src="img/content/options/thumbs/01.png", alt="").options-thumb__item

                                    .left-tabs__item
                                        p.options-text 444 Дизайнерские подоконники Crystallit — это гордость предприятия-производителя. Глянцевые дизайнерские подоконники Кристаллит от глубокого красного, до нежного зеленого, от сияющего солнечного до многоцветного мозаичного – совершенно новый подход к философии оконного пространства.
                                        //-thumbnail
                                        .options-thumb
                                            img(src="img/content/options/thumbs/04.png", alt="").options-thumb__item
                                            img(src="img/content/options/thumbs/03.png", alt="").options-thumb__item
                                            img(src="img/content/options/thumbs/02.png", alt="").options-thumb__item

                                    .left-tabs__item
                                        p.options-text 555 Дизайнерские подоконники Crystallit — это гордость предприятия-производителя. Глянцевые дизайнерские подоконники Кристаллит от глубокого красного, до нежного зеленого, от сияющего солнечного до многоцветного мозаичного – совершенно новый подход к философии оконного пространства.
                                        //-thumbnail
                                        .options-thumb
                                            img(src="img/content/options/thumbs/05.png", alt="").options-thumb__item
                                            img(src="img/content/options/thumbs/04.png", alt="").options-thumb__item
                                            img(src="img/content/options/thumbs/03.png", alt="").options-thumb__item



                            .right

                                .right-tabs

                                    .right-tabs__item
                                        .options__img-box(style="background-image: url('img/content/options/04.jpg');")
                                            .options__img.option-img.option-img__item
                                                picture
                                                    source(srcset="img/content/options/04.jpg, img/content/options/04@2x.jpg 2x")
                                                    img(src="img/content/options/04.jpg" alt="" loading="lazy")
                                            .options__img.option-img.option-img__item
                                                picture
                                                    source(srcset="img/content/options/05.jpg, img/content/options/05@2x.jpg 2x")
                                                    img(src="img/content/options/05.jpg" alt="" loading="lazy")
                                            .options__img.option-img.option-img__item
                                                picture
                                                    source(srcset="img/content/options/06.jpg, img/content/options/06@2x.jpg 2x")
                                                    img(src="img/content/options/06.jpg" alt="" loading="lazy")
                                            .options__img.option-img.option-img__item
                                                picture
                                                    source(srcset="img/content/options/04.jpg, img/content/options/04@2x.jpg 2x")
                                                    img(src="img/content/options/04.jpg" alt="" loading="lazy")
                                            .options__img.option-img.option-img__item
                                                picture
                                                    source(srcset="img/content/options/05.jpg, img/content/options/05@2x.jpg 2x")
                                                    img(src="img/content/options/05.jpg" alt="" loading="lazy")
                                            .options__img.option-img.option-img__item
                                                picture
                                                    source(srcset="img/content/options/06.jpg, img/content/options/06@2x.jpg 2x")
                                                    img(src="img/content/options/06.jpg" alt="" loading="lazy")
                                            .options__img.option-img.option-img__item
                                                picture
                                                    source(srcset="img/content/options/04.jpg, img/content/options/04@2x.jpg 2x")
                                                    img(src="img/content/options/04.jpg" alt="" loading="lazy")
                                            .options__img.option-img.option-img__item
                                                picture
                                                    source(srcset="img/content/options/05.jpg, img/content/options/05@2x.jpg 2x")
                                                    img(src="img/content/options/05.jpg" alt="" loading="lazy")
                                            .options__img.option-img.option-img__item
                                                picture
                                                    source(srcset="img/content/options/06.jpg, img/content/options/06@2x.jpg 2x")
                                                    img(src="img/content/options/06.jpg" alt="" loading="lazy")
                                            .options__img.option-img.option-img__item
                                                picture
                                                    source(srcset="img/content/options/04.jpg, img/content/options/04@2x.jpg 2x")
                                                    img(src="img/content/options/04.jpg" alt="" loading="lazy")
                                            .options__img.option-img.option-img__item
                                                picture
                                                    source(srcset="img/content/options/05.jpg, img/content/options/05@2x.jpg 2x")
                                                    img(src="img/content/options/05.jpg" alt="" loading="lazy")
                                            .options__img.option-img.option-img__item
                                                picture
                                                    source(srcset="img/content/options/06.jpg, img/content/options/06@2x.jpg 2x")
                                                    img(src="img/content/options/06.jpg" alt="" loading="lazy")
                                            .options__img.option-img.option-img__item
                                                picture
                                                    source(srcset="img/content/options/04.jpg, img/content/options/04@2x.jpg 2x")
                                                    img(src="img/content/options/04.jpg" alt="" loading="lazy")
                                            .options__img.option-img.option-img__item
                                                picture
                                                    source(srcset="img/content/options/05.jpg, img/content/options/05@2x.jpg 2x")
                                                    img(src="img/content/options/05.jpg" alt="" loading="lazy")
                                            .options__img.option-img.option-img__item
                                                picture
                                                    source(srcset="img/content/options/06.jpg, img/content/options/06@2x.jpg 2x")
                                                    img(src="img/content/options/06.jpg" alt="" loading="lazy")
                                            .options__img.option-img.option-img__item
                                                picture
                                                    source(srcset="img/content/options/04.jpg, img/content/options/04@2x.jpg 2x")
                                                    img(src="img/content/options/04.jpg" alt="" loading="lazy")
                                            .options__img.option-img.option-img__item
                                                picture
                                                    source(srcset="img/content/options/05.jpg, img/content/options/05@2x.jpg 2x")
                                                    img(src="img/content/options/05.jpg" alt="" loading="lazy")
                                            .options__img.option-img.option-img__item
                                                picture
                                                    source(srcset="img/content/options/06.jpg, img/content/options/06@2x.jpg 2x")
                                                    img(src="img/content/options/06.jpg" alt="" loading="lazy")
                                            .options__img.option-img.option-img__item
                                                picture
                                                    source(srcset="img/content/options/04.jpg, img/content/options/04@2x.jpg 2x")
                                                    img(src="img/content/options/04.jpg" alt="" loading="lazy")
                                            .options__img.option-img.option-img__item
                                                picture
                                                    source(srcset="img/content/options/05.jpg, img/content/options/05@2x.jpg 2x")
                                                    img(src="img/content/options/05.jpg" alt="" loading="lazy")
                                            .options__img.option-img.option-img__item
                                                picture
                                                    source(srcset="img/content/options/06.jpg, img/content/options/06@2x.jpg 2x")
                                                    img(src="img/content/options/06.jpg" alt="" loading="lazy")
                                            .options__img.option-img.option-img__item
                                                picture
                                                    source(srcset="img/content/options/04.jpg, img/content/options/04@2x.jpg 2x")
                                                    img(src="img/content/options/04.jpg" alt="" loading="lazy")
                                            .options__img.option-img.option-img__item
                                                picture
                                                    source(srcset="img/content/options/05.jpg, img/content/options/05@2x.jpg 2x")
                                                    img(src="img/content/options/05.jpg" alt="" loading="lazy")
                                            .options__img.option-img.option-img__item
                                                picture
                                                    source(srcset="img/content/options/06.jpg, img/content/options/06@2x.jpg 2x")
                                                    img(src="img/content/options/06.jpg" alt="" loading="lazy")
                                            .options__img.option-img.option-img__item
                                                picture
                                                    source(srcset="img/content/options/04.jpg, img/content/options/04@2x.jpg 2x")
                                                    img(src="img/content/options/04.jpg" alt="" loading="lazy")
                                            .options__img.option-img.option-img__item
                                                picture
                                                    source(srcset="img/content/options/05.jpg, img/content/options/05@2x.jpg 2x")
                                                    img(src="img/content/options/05.jpg" alt="" loading="lazy")
                                            .options__img.option-img.option-img__item
                                                picture
                                                    source(srcset="img/content/options/06.jpg, img/content/options/06@2x.jpg 2x")
                                                    img(src="img/content/options/06.jpg" alt="" loading="lazy")
                                            .options__img.option-img.option-img__item
                                                picture
                                                    source(srcset="img/content/options/04.jpg, img/content/options/04@2x.jpg 2x")
                                                    img(src="img/content/options/04.jpg" alt="" loading="lazy")
                                            .options__img.option-img.option-img__item
                                                picture
                                                    source(srcset="img/content/options/05.jpg, img/content/options/05@2x.jpg 2x")
                                                    img(src="img/content/options/05.jpg" alt="" loading="lazy")
                                            .options__img.option-img.option-img__item
                                                picture
                                                    source(srcset="img/content/options/06.jpg, img/content/options/06@2x.jpg 2x")
                                                    img(src="img/content/options/06.jpg" alt="" loading="lazy")

                                    .right-tabs__item
                                        .options__img-box(style="background-image: url('img/content/options/04.jpg');")
                                            .options__img.option-img.option-img__item
                                                picture
                                                    source(srcset="img/content/options/04.jpg, img/content/options/04@2x.jpg 2x")
                                                    img(src="img/content/options/04.jpg" alt="" loading="lazy")
                                            .options__img.option-img.option-img__item
                                                picture
                                                    source(srcset="img/content/options/05.jpg, img/content/options/05@2x.jpg 2x")
                                                    img(src="img/content/options/05.jpg" alt="" loading="lazy")
                                            .options__img.option-img.option-img__item
                                                picture
                                                    source(srcset="img/content/options/06.jpg, img/content/options/06@2x.jpg 2x")
                                                    img(src="img/content/options/06.jpg" alt="" loading="lazy")

                                    .right-tabs__item
                                        .options__img-box(style="background-image: url('img/content/options/04.jpg');")
                                            .options__img.option-img.option-img__item
                                                picture
                                                    source(srcset="img/content/options/04.jpg, img/content/options/04@2x.jpg 2x")
                                                    img(src="img/content/options/04.jpg" alt="" loading="lazy")
                                            .options__img.option-img.option-img__item
                                                picture
                                                    source(srcset="img/content/options/05.jpg, img/content/options/05@2x.jpg 2x")
                                                    img(src="img/content/options/05.jpg" alt="" loading="lazy")
                                            .options__img.option-img.option-img__item
                                                picture
                                                    source(srcset="img/content/options/06.jpg, img/content/options/06@2x.jpg 2x")
                                                    img(src="img/content/options/06.jpg" alt="" loading="lazy")

                                    .right-tabs__item
                                        .options__img-box(style="background-image: url('img/content/options/04.jpg');")
                                            .options__img.option-img.option-img__item
                                                picture
                                                    source(srcset="img/content/options/04.jpg, img/content/options/04@2x.jpg 2x")
                                                    img(src="img/content/options/04.jpg" alt="" loading="lazy")
                                            .options__img.option-img.option-img__item
                                                picture
                                                    source(srcset="img/content/options/05.jpg, img/content/options/05@2x.jpg 2x")
                                                    img(src="img/content/options/05.jpg" alt="" loading="lazy")
                                            .options__img.option-img.option-img__item
                                                picture
                                                    source(srcset="img/content/options/06.jpg, img/content/options/06@2x.jpg 2x")
                                                    img(src="img/content/options/06.jpg" alt="" loading="lazy")

                                    .right-tabs__item
                                        .options__img-box(style="background-image: url('img/content/options/04.jpg');")
                                            .options__img.option-img.option-img__item
                                                picture
                                                    source(srcset="img/content/options/04.jpg, img/content/options/04@2x.jpg 2x")
                                                    img(src="img/content/options/04.jpg" alt="" loading="lazy")
                                            .options__img.option-img.option-img__item
                                                picture
                                                    source(srcset="img/content/options/05.jpg, img/content/options/05@2x.jpg 2x")
                                                    img(src="img/content/options/05.jpg" alt="" loading="lazy")
                                            .options__img.option-img.option-img__item
                                                picture
                                                    source(srcset="img/content/options/06.jpg, img/content/options/06@2x.jpg 2x")
                                                    img(src="img/content/options/06.jpg" alt="" loading="lazy")

                    .options-descr__item
                        p Контент второй вкладки
                    .options-descr__item
                        p Контент третьей вкладки
                    .options-descr__item
                        p Контент четвертой вкладки
                    .options-descr__item
                        p Контент пятой вкладки