.prices-work
    .container.prices-work__container
        h2.h3 Цены на остекление балконов и лоджий

        .prices-work__box

            .prices-work__item
                .prices-work__title.h4 Лоджия
                .prices-work__inner
                    .prices-work__img
                        img(src="img/content/prices-work/01.jpg" srcset="img/content/prices-work/01@2x.jpg 2x" alt="" loading="lazy")
                    .prices-work__info
                        .prices-work__subtitle.h5 Холодное остекление
                        .prices-work__descr.caption Раздвижное алюминиевое остекление
                        .prices-work__price.h5 от 8 247 руб/м²
                    .prices-work__info
                        .prices-work__subtitle.h5 Холодное остекление
                        .prices-work__descr.caption Остекление окнами REHAU Blitz
                        .prices-work__price.h5 от 8 247 руб/м²
                a.prices-work__btn(href="#").btn Заказать

            .prices-work__item
                .prices-work__title.h4 П-образный балкон
                .prices-work__inner
                    .prices-work__img
                        img(src="img/content/prices-work/01.jpg" srcset="img/content/prices-work/01@2x.jpg 2x" alt="" loading="lazy")
                    .prices-work__info
                        .prices-work__subtitle.h5 Холодное остекление
                        .prices-work__descr.caption Раздвижное алюминиевое остекление
                        .prices-work__price.h5 от 8 247 руб/м²
                    .prices-work__info
                        .prices-work__subtitle.h5 Холодное остекление
                        .prices-work__descr.caption Остекление окнами REHAU Blitz
                        .prices-work__price.h5 от 8 247 руб/м²
                a.prices-work__btn(href="#").btn Заказать

            .prices-work__item
                .prices-work__title.h4 Балкон типа «Каблук»
                .prices-work__inner
                    .prices-work__img
                        img(src="img/content/prices-work/01.jpg" srcset="img/content/prices-work/01@2x.jpg 2x" alt="" loading="lazy")
                    .prices-work__info
                        .prices-work__subtitle.h5 Холодное остекление
                        .prices-work__descr.caption Раздвижное алюминиевое остекление
                        .prices-work__price.h5 от 8 247 руб/м²
                    .prices-work__info
                        .prices-work__subtitle.h5 Холодное остекление
                        .prices-work__descr.caption Остекление окнами REHAU Blitz
                        .prices-work__price.h5 от 8 247 руб/м²
                a.prices-work__btn(href="#").btn Заказать

            .prices-work__item
                .prices-work__title.h4 Угловой балкон
                .prices-work__inner
                    .prices-work__img
                        img(src="img/content/prices-work/01.jpg" srcset="img/content/prices-work/01@2x.jpg 2x" alt="" loading="lazy")
                    .prices-work__info
                        .prices-work__subtitle.h5 Холодное остекление
                        .prices-work__descr.caption Раздвижное алюминиевое остекление
                        .prices-work__price.h5 от 8 247 руб/м²
                    .prices-work__info
                        .prices-work__subtitle.h5 Холодное остекление
                        .prices-work__descr.caption Остекление окнами REHAU Blitz
                        .prices-work__price.h5 от 8 247 руб/м²
                a.prices-work__btn(href="#").btn Заказать




