.products
    .container.products__container
        h2.products__title.h2 Оконные системы

        ul.products__list

            li.products__item.product-item
                a(href="#").product-item__link
                    img(src="img/content/products/01.jpg" srcset="img/content/products/01@2x.jpg 2x" alt="" loading="lazy").product-item__img
                    .product-item__info
                        .product-item__title.h4 Стандарт 60
                        .product-item__price.h5 от 4 077 руб/м²
                        .product-item__descr.caption
                            p Профиль: 3 камерный
                            p Стеклопакет: 32 мм
                        .product-item__label Бюджетные окна

            li.products__item.product-item
                a(href="#").product-item__link
                    img(src="img/content/products/02.jpg" srcset="img/content/products/02@2x.jpg 2x" alt="" loading="lazy").product-item__img
                    .product-item__info
                        .product-item__title.h4 Стандарт 60
                        .product-item__price.h5 от 4 077 руб/м²
                        .product-item__descr.caption
                            p Профиль: 3 камерный
                            p Стеклопакет: 32 мм
                        .product-item__label Бюджетные окна

            li.products__item.product-item
                a(href="#").product-item__link
                    img(src="img/content/products/03.jpg" srcset="img/content/products/03@2x.jpg 2x" alt="" loading="lazy").product-item__img
                    .product-item__info
                        .product-item__title.h4 Стандарт 60
                        .product-item__price.h5 от 4 077 руб/м²
                        .product-item__descr.caption
                            p Профиль: 3 камерный
                            p Стеклопакет: 32 мм
                        .product-item__label Бюджетные окна

            li.products__item.product-item
                a(href="#").product-item__link
                    img(src="img/content/products/04.jpg" srcset="img/content/products/04@2x.jpg 2x" alt="" loading="lazy").product-item__img
                    .product-item__info
                        .product-item__title.h4 Стандарт 60
                        .product-item__price.h5 от 4 077 руб/м²
                        .product-item__descr.caption
                            p Профиль: 3 камерный
                            p Стеклопакет: 32 мм
                        .product-item__label Бюджетные окна

            li.products__item.product-item
                a(href="#").product-item__link
                    img(src="img/content/products/05.jpg" srcset="img/content/products/05@2x.jpg 2x" alt="" loading="lazy").product-item__img
                    .product-item__info
                        .product-item__title.h4 Стандарт 60
                        .product-item__price.h5 от 4 077 руб/м²
                        .product-item__descr.caption
                            p Профиль: 3 камерный
                            p Стеклопакет: 32 мм
                        .product-item__label Бюджетные окна

            li.products__item.product-item
                a(href="#").product-item__link
                    img(src="img/content/products/06.jpg" srcset="img/content/products/06@2x.jpg 2x" alt="" loading="lazy").product-item__img
                    .product-item__info
                        .product-item__title.h4 Стандарт 60
                        .product-item__price.h5 от 4 077 руб/м²
                        .product-item__descr.caption
                            p Профиль: 3 камерный
                            p Стеклопакет: 32 мм
                        .product-item__label Бюджетные окна

            li.products__item.product-item
                a(href="#").product-item__link
                    img(src="img/content/products/07.jpg" srcset="img/content/products/07@2x.jpg 2x" alt="" loading="lazy").product-item__img
                    .product-item__info
                        .product-item__title.h4 Стандарт 60
                        .product-item__price.h5 от 4 077 руб/м²
                        .product-item__descr.caption
                            p Профиль: 3 камерный
                            p Стеклопакет: 32 мм
                        .product-item__label Бюджетные окна

            li.products__item.product-item.help
                //- a(href="#").product-item__link
                .product-item__info
                    .product-item__title.h2 Нужна помощь в выборе окон?
                    .product-item__descr.caption
                        p Закажите обратный звонок и мы перезвоним вам в удобное для вас время и поможем сделать правильный выбор.
                    a(href="#").product-item__btn.btn.btn__light Заказать звонок