.property
    .container.property__container
        ul.property__box
            li.property__item
                span.property__text.caption-caps Камерность <br> профиля
                span.property__digit.h2 5
            li.property__item
                span.property__text.caption-caps Монтажная глубина <br> Профиля
                span.property__digit.h2 70 мм
            li.property__item
                span.property__text.caption-caps Высота непрозрачной <br> части (рама+створка)
                span.property__digit.h2 109 мм
            li.property__item
                span.property__text.caption-caps Ширина <br> Стеклопакета
                span.property__digit.h2 40 мм
            li.property__item
                span.property__text.caption-caps Коэффициент теплозащиты <br> Roб (м2*oC)/Вт
                span.property__digit.h2 0,83
            li.property__item
                span.property__text.caption-caps Коэффициент <br> звукоизоляции Rw(дБ)
                span.property__digit.h2 ≈40