.services
    .container.services__container
        .services__list.swiper.js-services-list
            .services__wrapper.swiper-wrapper
                a(href="").services__item.services-item.swiper-slide
                    img(src="img/content/services/01.jpg" srcset="img/content/services/01@2x.jpg 2x" alt="" loading="lazy").services-item__img
                    .services-item__info
                        .services-item__title.h4 Декорирование и аксессуары
                        button.btn.btn__light.btn__arrow.services-item__btn(aria-label="Подробнее")
                            svg
                                use(xlink:href='img/sprite.svg#arrow-right')

                a(href="").services__item.services-item.swiper-slide
                    img(src="img/content/services/02.jpg" srcset="img/content/services/02@2x.jpg 2x" alt="" loading="lazy").services-item__img
                    .services-item__info
                        .services-item__title.h4 Декорирование и аксессуары
                        button.btn.btn__light.btn__arrow.services-item__btn(aria-label="Подробнее")
                            svg
                                use(xlink:href='img/sprite.svg#arrow-right')
                a(href="").services__item.services-item.swiper-slide
                    img(src="img/content/services/03.jpg" srcset="img/content/services/03@2x.jpg 2x" alt="" loading="lazy").services-item__img
                    .services-item__info
                        .services-item__title.h4 Декорирование и аксессуары
                        button.btn.btn__light.btn__arrow.services-item__btn(aria-label="Подробнее")
                            svg
                                use(xlink:href='img/sprite.svg#arrow-right')
            .slider-btn.services-list__prev.swiper__prev
                svg
                    use(xlink:href='img/sprite.svg#slider-right')
            .slider-btn.services-list__next.swiper__next.active
                svg
                    use(xlink:href='img/sprite.svg#slider-right')