.types-work
    .container.types-work__container
        h2.types-work__title.h3 Виды возможного остекления

        .types-work__list.js-types-work-list.swiper
            .types-works__wrapper.swiper-wrapper

                .types-work__item.swiper-slide
                    a(href="#").types-work__link
                        img(src="img/content/types-work/01.jpg" srcset="img/content/types-work/01@2x.jpg 2x" alt="" loading="lazy").types-work__img
                        .types-work__info
                            .types-work__title.h4 От пола до потолка
                            .types-work__descr.caption
                                p Хорошо подходит для балконов и лоджий без устойчивого основания
                            .types-work__price.h5 от 4 724 руб/м²

                .types-work__item.swiper-slide
                    a(href="#").types-work__link
                        img(src="img/content/types-work/02.jpg" srcset="img/content/types-work/02@2x.jpg 2x" alt="" loading="lazy").types-work__img
                        .types-work__info
                            .types-work__title.h4 Балкон с выносом
                            .types-work__descr.caption
                                p Хорошо подходит для балконов и лоджий без устойчивого основания
                            .types-work__price.h5 от 4 724 руб/м²

                .types-work__item.swiper-slide
                    a(href="#").types-work__link
                        img(src="img/content/types-work/03.jpg" srcset="img/content/types-work/03@2x.jpg 2x" alt="" loading="lazy").types-work__img
                        .types-work__info
                            .types-work__title.h4 Балкон с крышей
                            .types-work__descr.caption
                                p Хорошо подходит для балконов и лоджий без устойчивого основания
                            .types-work__price.h5 от 4 724 руб/м²

                .types-work__item.swiper-slide
                    a(href="#").types-work__link
                        img(src="img/content/types-work/04.jpg" srcset="img/content/types-work/04@2x.jpg 2x" alt="" loading="lazy").types-work__img
                        .types-work__info
                            .types-work__title.h4 Балкон на парапет
                            .types-work__descr.caption
                                p Хорошо подходит для балконов и лоджий без устойчивого основания
                            .types-work__price.h5 от 4 724 руб/м²




            .slider-btn.types-work__prev.swiper__prev
                svg
                    use(xlink:href='img/sprite.svg#slider-right')
            .slider-btn.types-work__next.swiper__next.active
                svg
                    use(xlink:href='img/sprite.svg#slider-right')