.types-windows
    .container.types-windows__container
        h2.h3.types-windows__title Окна нестандартной формы

        .types-windows__list.swiper.js-types-windows-list
            .types__wrapper.swiper-wrapper
                a(href="#").types-windows__item.types-windows-item.swiper-slide
                    .types-windows-item__img
                        img(src="img/content/types-windows/01.jpg" srcset="img/content/types-windows/01@2x.jpg 2x")
                    .types-windows-item__box
                        .types-windows-item__title.h4 Арочные окна
                        .types-windows-item__descr.p Хорошо подходит для балконов и лоджий без устойчивого основания
                a(href="#").types-windows__item.types-windows-item.swiper-slide
                    .types-windows-item__img
                        img(src="img/content/types-windows/02.jpg" srcset="img/content/types-windows/02@2x.jpg 2x")
                    .types-windows-item__box
                        .types-windows-item__title.h4 Треугольные окна
                        .types-windows-item__descr.p Хорошо подходит для балконов и лоджий без устойчивого основания
                a(href="#").types-windows__item.types-windows-item.swiper-slide
                    .types-windows-item__img
                        img(src="img/content/types-windows/03.jpg" srcset="img/content/types-windows/03@2x.jpg 2x")
                    .types-windows-item__box
                        .types-windows-item__title.h4 Круглые окна
                        .types-windows-item__descr.p Хорошо подходит для балконов и лоджий без устойчивого основания
                a(href="#").types-windows__item.types-windows-item.swiper-slide
                    .types-windows-item__img
                        img(src="img/content/types-windows/04.jpg" srcset="img/content/types-windows/04@2x.jpg 2x")
                    .types-windows-item__box
                        .types-windows-item__title.h4 Окна сложной формы
                        .types-windows-item__descr.p Хорошо подходит для балконов и лоджий без устойчивого основания

            .slider-btn.types-windows__prev.swiper__prev
                svg
                    use(xlink:href='img/sprite.svg#slider-right')
            .slider-btn.types-windows__next.swiper__next.active
                svg
                    use(xlink:href='img/sprite.svg#slider-right')