include ../includes/mixins

doctype html
html(lang="ru-RU")
    include ../includes/head
    body
        include ../includes/preloader
        include ../includes/header

        main
            include ../includes/hero
            include ../includes/cover-balkony
            include ../includes/types-work
            include ../includes/prices-work
            //- include ../includes/property
            //- include ../includes/features
            include ../includes/options-balkony
            include ../includes/examples-works-balkony
            //- include ../includes/hero
            //- include ../includes/products
            //- include ../includes/advantages
            //- include ../includes/services
            include ../includes/buy-balkony
        include ../includes/btn-box
        include ../includes/mobile-menu
