include ../includes/mixins

doctype html
html(lang="ru-RU")
    include ../includes/head
    body
        include ../includes/preloader
        include ../includes/header

        main
            include ../includes/promo
            include ../includes/cost
            include ../includes/options-osteklenie
            include ../includes/types-windows
            include ../includes/services-osteklenie
            include ../includes/options
            include ../includes/promo2
            include ../includes/grid-product
            
            //- include ../includes/hero
            //- include ../includes/cover-balkony
            //- include ../includes/types-work
            //- include ../includes/prices-work
            //- include ../includes/property
            //- include ../includes/features
            //- include ../includes/options-balkony
            //- include ../includes/examples-works-balkony
            //- include ../includes/hero
            //- include ../includes/products
            //- include ../includes/advantages
            //- include ../includes/buy-balkony
        include ../includes/btn-box
        include ../includes/mobile-menu
