include ../includes/mixins

doctype html
html(lang="ru-RU")
    include ../includes/head
    body
        include ../includes/preloader
        include ../includes/header

        main
            include ../includes/cover
            include ../includes/property
            include ../includes/features
            include ../includes/options
            include ../includes/examples-works
            //- include ../includes/cost
            //- include ../includes/hero
            //- include ../includes/products
            //- include ../includes/advantages
            //- include ../includes/services
            //- include ../includes/buy
        include ../includes/btn-box
        include ../includes/mobile-menu
